<!DOCTYPE html>
html(lang="en")
    head
        title Forgot Password Email
    body
        h3 Dear #{name},
        p 
            | You requested for a password resset, kindly use this
        a(href=url) link 
            | to reset your password.
        br
        p Cheers!
