<!DOCTYPE html>
html(lang="en")
    head
        title Password Changed
    body
        h3 Dear #{name},
        p You have changed your password, if this was not you then feel free to panic.
        br
        p Cheers!
