.form {
    background-color: white;
}

.form img {
    border: black solid 1px;
}

.inputBasic input {
    border: none;
    border-bottom: solid black 1px;
    border-radius: 0;
    font-family: 'BIZ UDGothic';
    text-align: center;
    font-size: 18px;
}

.inputBasic div{
    margin: .5rem 0;
}

.inputBasic label {
    text-align: center;
    width: 100%;
}

.inputBasic + .form-group {
    margin-bottom: 0;
}


.borders {
    border: solid black 1px;
}

.heading {
    border: solid black 1px;
    width: 100%;
    margin: 1rem 0;
    text-align: right;
    background-color: #595959;
}

.heading button {
    padding: .5rem 2rem;
    margin: .2rem;
    border: none;
    border-radius: 0;
    background-color: #710627;
}


.collum { 
    padding: 0 .5rem;
}

.stats {
    margin-bottom: 2rem;
}

.stats  > div {
    border: black solid 1px;
    padding: 0;
    text-align: center;
    margin: 0 10px;
}

.stats input {
    text-align: center;
    border: none;
    width: 70%;
    margin: 0 auto;
}

.stats > div > div:first-of-type input{
    font-size: 26px;
}

.stats > div > div:nth-child(2) input{
    font-size: 18px;
    border: solid black 1px;
    border-radius: 0;
    position: absolute;
    top: 100px;
    right: 15px;
}

.stats > div > div{
    margin: 0 0 2rem;
}

.stats label {
    font-size: 20px;
    margin: 0 0 .5rem;
    width: 100%;
}


